.container {
      margin-top: 2%;
}

#tasksDiv {
      margin-top: 3%;
}

.hidden {
      display: none;
}

#project-description {
      margin-top: 20%;
}

#animationTodoList {
      margin-top: -16%;;
}