/*
Element styling
*/

body {
      background-image: url("https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      margin: 0 auto;
      padding: 0;
      width: 100%;
}

label {
      font-size: 1.2rem;
}

/*
Styling based on Class
*/

.container {
      margin-top: 2%;
}

.hidden {
      display: none;
}

.wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 27%;
}

.musicControlButton {
      height: 70px;
      width: 150px;
      font-size: 20px;
      border-radius: 10px;
}

/*
Styling based on IDs
*/

#tasksDiv {
      margin-top: 3%;
      background-color: #ffffff;
      border-color: #000000;
      border-style: solid;
      border-radius: 10px;
}

#project-description {
      margin-top: 20%;
}

#animationTodoList {
      margin-top: -16%;
      ;
}

#optionChoosingDiv {
      margin-left: -40%;
}

#volumeSlider {
      margin-left: 10%;
}

/*
Responsive Design
*/

@media only screen and (max-width: 750px) {
      .wrapper {
            margin-left: 0%;
      }

      #optionChoosingDiv {
            margin-right: -25%;
      }
}