body {
      background-image: url("https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
}

.container {
      margin-top: 2%;
}

#tasksDiv {
      margin-top: 3%;
}

.hidden {
      display: none;
}

#project-description {
      margin-top: 20%;
}

#animationTodoList {
      margin-top: -16%;
      ;
}

.wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

#optionChoosingDiv {
      margin-left: -40%;
}